.btn {
    font-size: 24px;
    background-color: yellow;
    padding: 10px 20px;
    margin: 40px;
}
.btn:hover {
    background-color: orange;
}
h1 {
    font-size: 32px;
}
.text-one {
    font-size: 24px;
}
.title-one {
    text-align: center;
}
.text-two {
    text-transform: capitalize;
}
.text-three {
    text-align: right;
    text-transform: uppercase;
}
.text-four {
    font-weight: 700;
}